__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/
.DS_Store
.env
.venv/
venv/

data/raw/
data/processed/

outputs/checkpoints/
outputs/logs/
outputs/samples/
outputs/figures/

*.pt
*.pth
*.ckpt

.idea/
.vscode/